[Unit]
Description=Redis persistent key-value database
After=network.target

[Service]
ExecStart=<%= @bin_path %>/redis-server /etc/redis/sentinel_%i.conf --sentinel --daemonize no
User=redis
Group=redis
LimitNOFILE=<%= @limit_nofile %>

[Install]
WantedBy=multi-user.target
