metadata.json
.vagrant
Berksfile.lock
Cheffile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks
.librarian
tmp/

# Bundler
Gemfile.lock
bin/*
.bundle/*
.kitchen/
.kitchen.local.yml

## ignore ruby versioning?
.ruby-version
.ruby-gemset
